/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.span6 {
    float: left;
    width: 20em;
    display: inline-block;
}
.dropdown-menu {
    max-height: 300px;
    overflow: auto;
}

#chart {
    margin: 0 auto;
    max-height: 600px;
    max-width: 600px;
}

/**
 * TODO Make this css cleaner, preferably use a pre-processor
 */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSansLight'), url('../fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Sarina';
    font-style: normal;
    font-weight: 400;
    src: local('Sarina Regular'), local('SarinaRegular'), url('../fonts/Sarina/Sarina-Regular.ttf') format('truetype');
}

body {
    background-color: #eeeeee;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans Light", Helvetica Neue, Helvetica, Arial;
}

h1 {
    padding-bottom: 20px;
}

.logo {
    padding-right: 10px;
    padding-left: 10px;
    max-width: 75px !important;
    max-height: 50px;
}

.page-header {
    margin: 15px 0 15px 0;
    position: relative;
}

.nav li {
    width: 32%;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    margin-bottom: 15px;
}

.navbar-header {
    float: none;
}
.navbar-nav {
    float: none;
}

.nav > li {
    float: left;
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial;
    font-size: 17px;
}

.alert {
    margin-bottom: 0;
}

.tuwas-arrow {
    display: none;
}

.main-view {
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 620px) {
    .nav > li {
        text-align: center;
    }

    .nav > li > a > img {
        display: block;
        margin: 0 auto;
    }
    .nav > li > a > span {
        display: block;
    }
}

@media (min-width: 621px) {
    .nav > li > a > img {
        padding-right: 15px;
    }

    h1 {
        font-size: 48px;
    }

    .tuwas-arrow {
        font-size: 56px;
        position: fixed;
        display: inherit;
        cursor: pointer;
        color: #909090;
    }
    .tuwas-arrow:hover {
        color: #f00;
    }

    .tuwas-arrow-left {
        left: 25px;
        top: 48%;
    }

    .tuwas-arrow-right {
        right: 25px;
        top: 48%;
    }
}

/**
 * Tuwas credit just because we're that cool
 */
#footer {
    position: relative;
    background-color: #f5f5f5;
    background-color: rgba(255,255,255, .6);
}

.tuwas-info {
    font-size: 2em;
    position: absolute;
    bottom: 8px;
    right: 15px;
}

.tuwas-info a {
}
.tuwas-info a:hover {
}

.tuwas-name {
    font-family: "Sarina";
}
.tuwas-visualizr {
    font-family: "Open Sans Light";
}

.info-toggle {
    font-size: 1.25em;
    padding-bottom: 15px;
}
.info-toggle i {
    cursor: pointer;
}

.borderless-contrainer {
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 620px) {
    .tuwas-info {
        position: relative;
        margin: 0 auto;
        padding-top: 16px;
        width: 230px;

    }
}

@media (min-width: 621px) {
    body {
        padding-bottom: 60px;
    }
    #footer {
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .tuwas-swipe-explanation {

    }

    .tuwas-swipe-explanation i {
        font-size: 2em;
        display: inline-block;
        position: relative;
        top: 4px;
        padding-left: .25em;
        padding-right: .25em;
    }
}

.icon-setting {
    text-decoration: none;
    float: right;
    font-size: 3em;
    padding-right: 15px;
}
.icon-setting:hover {
    text-decoration: none;
}

.div-setting{
    display: inline-block;
    width: 359px;
    margin-right:10px;
    padding-bottom: 10px;
}

.div-setting input[type=checkbox] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    position: relative;
    *overflow: hidden;
    -webkit-appearance: none;
    border: 0px;
    font-size: 25px;
    outline: none;
    cursor: pointer;
}

.div-setting label {
    font-size: 20px;
    font-weight: normal;
    line-height: 25px;
    position: relative;
    top: -2px;
    cursor: pointer;
}

.timeInterval{
    font-size: 1.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    width:50px;
}

.max-intervals {
    font-size: 1.5em;
}

.div-setting input[disabled="disabled"],
.div-setting label[disabled="disabled"]{
    color: #ccc;
}

a {
    color: #333;
}

a:hover {
    color: #f00;
    text-decoration: none;
}

hr {
    border-top: 1px solid #ccc;
}

.panel-body h2 {
    padding-top: 0;
    margin-top: 0;
}

.element-container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.element-main-button {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
    display: inline-block;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.element-button {
    width: 47%;
    float: left;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
}

@media (min-width: 992px) {
    .element-button {
        width: 32%;
    }
}

.element-button span {
    height: 20px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.panel {
    position: relative;
}

.panel .fa-times-circle {
    position: absolute;
    font-size: 2.5em;
    right: 15px;
    top: 15px;
}

.menu-toggle {
    text-align: center;
    font-size: 1.5em;
}

.footer-links {
    padding-top: 20px;
}

.footer-links a {
    padding-right: 20px;
}