<!-- Begin page content -->
<div ng-swipe-right="previousTime()" ng-swipe-left="nextTime()">
    <div class="container">
        <div class="page-header">
            <div class="row">
                <a class="icon-setting" tooltip="Open settings" href="#/settings"><i class=" fa fa-cogs"></i></a>
                <span class="element-main-button" ng-click="pickIndicatorGroup.toggle()">
                    {{barChart.getCurrentIndicatorGroup().name || 'Click to select a indicator group..'}}
                </span>
                <span ng-show="barChart.getCurrentIndicatorGroup().name"
                      class="element-main-button"
                      ng-click="pickIndicator.toggle()">
                    {{ barChart.getCurrentDataIndicator().name || 'Click to select a indicator' }}
                </span>
            </div>
        </div>

        <div class="panel panel-default" ng-show="pickIndicatorGroup.status()">
            <div class="panel-body">
                <h2>Data element group</h2>
                <span class="fa fa-times-circle" ng-click="pickIndicatorGroup.toggle()"></span>
                <div class="element-container">
                    <div class="element-button" ng-repeat="indicatorGroup in barChart.getIndicatorGroups()">
                        <span ng-click="setActiveIndicator(indicatorGroup)">{{ indicatorGroup.name }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" ng-show="pickIndicator.status()">
            <div class="panel-body">
                <h2>Data element</h2>
                <span class="fa fa-times-circle" ng-click="pickIndicator.toggle()"></span>
                <div class="element-container">
                    <div class="element-button" ng-repeat="indicator in barChart.getDataIndicators()">
                        <span ng-click="updateDataElement(indicator)">{{ indicator.name }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="barChart.isManualVisible" class="borderless-contrainer manual">
            <h1>Comparisons</h1>

            <p>Charts that are created by this view will give you a good comparison are between the
                presented
                values.</p>

            <p>To use the comparisons use the controls you find above this explanation text.</p>
        </div>
        <div class="panel panel-default" ng-hide="barChart.isManualVisible">
            <div class="panel-body">
                <div id="chart">
                    <h3>{{barChart.getTimePeriod() | timeinterval | capitalize}}</h3>
                    <svg/>
                    <div>
                        <i ng-click="previousTime()"
                           class="fa fa-arrow-circle-o-left tuwas-arrow tuwas-arrow-left"></i>
                        <i ng-click="nextTime()"
                           class="fa fa-arrow-circle-o-right tuwas-arrow tuwas-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>